{% extends 'main/index.html' %}

{% block title %}Home | WorkFlow{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto space-y-8">
    
    <div class="mb-8">
        <h2 class="text-2xl font-bold text-slate-800">Your Feed</h2>
        <p class="text-slate-500 text-sm">Based on your saved skills and interests</p>
    </div>
    {% for job in jobs %}
    <article class="bg-white border border-slate-200 rounded-3xl shadow-sm overflow-hidden transition hover:border-blue-300">
        <div class="p-5 flex items-center justify-between">
            <div class="flex items-center gap-3">
                <div class="w-12 h-12 rounded-2xl bg-slate-50 flex items-center justify-center p-2">
                    <img src="https://logo.clearbit.com/apple.com" alt="Apple">
                </div>
                <div>
                    <h4 class="font-bold text-slate-800">{{ job.recruter.company_name }}</h4>
                    <p class="text-xs text-slate-400 uppercase">{{job.recruter.address}}</p>
                </div>
            </div>
            <button class="text-slate-400 hover:text-slate-600"><i class="fa-solid fa-ellipsis-vertical"></i></button>
        </div>

        <div class="px-5 pb-6">
            <h3 class="text-lg font-bold text-slate-800 mb-2">{{job.title}}</h3>
            <p class="text-slate-600 text-sm leading-relaxed mb-4">
                {{job.discription}}
            </p>
            
            <div class="flex gap-2 mb-4">
                {% for skill in job.skills %}
                <span class="px-3 py-1 bg-slate-100 text-slate-600 text-xs rounded-lg font-semibold">{{skill}}</span>
                {% endfor %}
            </div>
            
            <button class="w-full bg-slate-900 text-white py-3 rounded-xl font-bold hover:bg-slate-800 transition">
                Quick Apply
            </button>
        </div>
    </article>
    {% endfor %}

    

</div>
{% endblock content %}